<aside id="main-left">
	<nav>
		<a href="#" id="button-home">
			<span class="icon" id="logo"></div>
		</a>
		<a href="#/something" id="button-heirarchy">
			<span class="icon heirarchy"></div>
		</a>
	</nav>
</aside>
<section id="main">

</div>